<div id="home_index">
	
	<div id="console_slider">
	  <div id="slider" class="flexslider">
	
	    <ul class="slides">
	      <li>
	        <%= image_tag "ps4_console.jpg", alt: "Playstation 4" %>
	      </li>
	      <li>
	        <%= image_tag "xbox_one_console.jpg", alt: "Xbox One" %>
	      </li>
	      <li>
	        <%= image_tag "wii_u_console.jpg", alt: "Wii U" %>
	      </li>
	      <li>
	        <%= image_tag "psvita_handheld.jpg", alt: "Playstation Vita" %>
	      </li>
	      <li>
	        <%= image_tag "3ds_handheld.jpg", alt: "Nintendo 3DS" %>
	      </li>
	      <!-- items mirrored twice, total of 12 -->
	    </ul>
	  </div>
	
	  <div id="carousel" class="flexslider">
	    <ul class="slides">
	      <li>
	        <%= image_tag "ps4_console.jpg", alt: "Playstation 4" %>
	      </li>
	      <li>
	        <%= image_tag "xbox_one_console.jpg", alt: "Xbox One" %>
	      </li>
	      <li>
	        <%= image_tag "wii_u_console.jpg", alt: "Wii U" %>
	      </li>
	      <li>
	        <%= image_tag "psvita_handheld.jpg", alt: "Playstation Vita" %>
	      </li>
	      <li>
	        <%= image_tag "3ds_handheld.jpg", alt: "Nintendo 3DS" %>
	      </li>
	      <!-- items mirrored twice, total of 12 -->
	    </ul>
	
	  </div>
	</div>
	
	<div id="home_game_lists" class="row">
	
	  <div id="home_top_selling" class="col-md-4">
	    <h3>Top Selling</h3>
	    <ol>
	      <li>LittleBigPlanet</li>
	      <li>Final Fantasy 15</li>
	      <li>Batman</li>
	      <li>Earthbound</li>
	      <li>Super Mario 64</li>
	    </ol>
	  </div>
	
	  <div id="home_on_sell" class="col-md-4">
	    <h3>On Sell</h3>
	    <ol>
	      <li>LittleBigPlanet</li>
	      <li>Final Fantasy 15</li>
	      <li>Batman</li>
	      <li>Earthbound</li>
	      <li>Super Mario 64</li>
	    </ol>
	  </div>
	
	  <div id="home_newly_released" class="col-md-4">
	    <h3>Newly Released</h3>
	    <ol>
	      <li>LittleBigPlanet</li>
	      <li>Final Fantasy 15</li>
	      <li>Batman</li>
	      <li>Earthbound</li>
	      <li>Super Mario 64</li>
	    </ol>
	  </div>
	
	</div>

</div>
